body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  }

a {
  text-decoration: none;
}

.promo {
  background-image: url("../img/polygon.svg"), url("../img/bg.jpg");
  display: block;
  margin: 0 auto;
  height: 773px;
  width: 1220px;
  background-position: center bottom;
  background-repeat: no-repeat;
    }

  .logo-welcome {
    display: block;
    margin: auto;
    
            }

  .site-navigation a {
    font-size: 14px;
    line-height: 1.86;
    font-weight: bold;
    color: #000000;
    list-style: none;
    }

.search h2  {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
}

 .features-list h3,
 .feature-list-extra h3,
 .slogan,
 .catalog-item-name {
   font-size: 21px;
   line-height: 26px;
   font-weight: bold;
   text-align: center;
    }

    .search-info,
    .features p,
    .feature-list-extra p {
      font-size: 14px;
      line-height: 24px;
      font-weight: normal;
      text-align: center;
      }

  .site-navigation a:hover {
color: #81b3d2;
}

.site-navigation a:active {
color: rgba(0, 0, 0, 0.3);
}

.features-list,
.feature-list-extra {
  list-style: none;
}

.catalog-list,
.hotel-rate-star {
list-style: none;
}

button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}

.catalog-item-option a{
  color: #ffffff;
  border: none;
  font: inherit;
  text-align: center;
}

.catalog-item-name {
color: #000000;
}

.hotel-rate-score {
  width: 110px;
  background-color: #f2f2f2;
}

.search-item label {
  font: inherit;
  font-weight: bold;
}

.search-item input {
  font: inherit;
  font-weight: bold;
  color: #000000
  background-color: #f2f2f2;
  }

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: #ffffff;
}

.search-form-title,
.option-reserve {
  color: #ffffff;
  background-color: #766357;
  border: none;
}

  .search-form-title,
  .option-reserve:hover {
    background-color: #604e43;
  }

  .search-form-title,
  .option-reserve:active {
    background-color: #503e33;
  }

.search-item-find,
.option-details {
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.search-item-find,
.option-details:hover {
  background-color: #669ec0;
}

.search-item-find,
.option-details:active {
  background-color: #5496bd;
}

.search-item-minus,
.search-item-plus {
  color: rgba(0, 1, 1, 0.15);
}

.search-item-plus:hover,
.search-item-minus:hover {
  color: #000000;
}

.search-item-plus:active,
.search-item-minus:active {
  color: #81b3d2;
}

.catalog-item-name:hover {
color: #81b3d2;
  }

.catalog-item-name:active {
  color: rgba(0, 0, 0, 0.3);
}

  .main-footer {
  color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  text-align: center;
  background-color: #ffffff;
}
